<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".transitionname.TransitionBActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            />
        <activity
            android:name=".transitionname.TransitionAActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".transitionname.DouYinAActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".transitionname.DouYinBActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent.DouYIn"/>

        <activity android:name=".transitionname.MyTestAActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".transitionname.MyTestBActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>


        <activity android:name=".touxiang.TouXiangLunBoActivity" />
        <activity android:name=".spannable.SpannableStringActivity" />
        <activity android:name=".zhengze.ZhengZeActivity" />
        <activity android:name=".xiecheng.XieCheng2Activity" />
        <activity android:name=".extend.MyActivity" />
        <activity android:name=".extend.GaoJieActivity" />
        <activity android:name=".edittext.EditTextActivity" />
        <activity android:name=".click.ClickActivity" />
        <activity android:name=".pile.PileActivity" />
        <activity
            android:name=".countdowntime.CountDownTimeActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".oom.OOMActivity" />
        <activity android:name=".async.AsyncActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".event.EventActivity" />
        <activity android:name=".maoboli.MaoBoLiActivity" />
        <activity android:name=".xiecheng.XieChengActivity" />
        <activity android:name=".dianzan.DianzanActivity" />
        <activity android:name=".network.DemoActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".flexible.PullDemo1Activity" />
        <activity android:name=".shouye.WeiYiActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bringtofront.BringToFrontActivity"/>
        <activity android:name=".bringtofront.LineRightActivity"/>
        <activity android:name=".view.ViewDemoActivity"/>
        <activity android:name=".touchevent.TouchEventActivity"/>
        <activity android:name=".lifecycler.LifeCyclerDemoActitivy"/>
        <activity android:name=".rxjava.RxJavaDemoActitivy"/>
        <activity android:name=".indicator.IndicatorDemoActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".textview.MyTextDemoActivity"/>
        <activity android:name=".clipchlidren.ClipChilderenActivity"/>
        <activity android:name=".reflect.ReflectActivity"/>
        <activity android:name=".motionlayout.MotionLayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            />
        <activity android:name=".donghua.DonghuaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent.DongHhua"
            />

    </application>

</manifest>